@font-face {
	font-family: 'KellySlab-Regular';
	src: local('KellySlab-Regular'), url('../fonts/KellySlab-Regular.ttf');
	/* src: local('NeueMachina'), url('../fonts/NeueMachina-Regular.ttf');
	src: local('NeueMachina'), url('../fonts/NeueMachina-Regular.otf'); */
	font-weight: normal;
}
@font-face {
	font-family:Caveat;
	src: url(https://fonts.google.com/specimen/Caveat?preview.text=Дорогой%20папочка!%20Поздравляю%20тебя%20с%26nbsp;23%26nbsp;Февраля!%20Тебе,%20как%20первому%20и%26nbsp;главному%20мужчине%20в%26nbsp;нашей%20жизни,%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20хочется%20сказать%20спасибо%20за%26nbsp;всё,%20что%20ты%26nbsp;сделал%20для%20своей%20семьи.%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20За%26nbsp;ту%26nbsp;заботу%20и%26nbsp;поддержку,%20которую%20мы%26nbsp;ощущаем%26nbsp;и,%20ничего%20не%26nbsp;боясь,%20идем%20вперед.%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20Так%20как%20знаем,%20что%20за%26nbsp;нами%20стоишь%20ты%26nbsp;%26mdash;%20папа,%20который%20каждый%20день%20совершает%20подвиги,%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20чтоб%20обеспечить%20свою%20семью%20и%26nbsp;дать%20ей%26nbsp;всё%20самое%20лучшее%20и%26nbsp;самое%20хорошее.&lang=ru_Cyrl);
}